* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.production {
    display: flex;
    flex-direction: column;
    border: 5px solid black;
    width: 33vw;
    height: 100vh;
}

.customer {
    display: flex;
    flex-direction: column;
    border: 5px solid black;
    width: 33vw;
    height: 100vh;
}

.employee {
    display: flex;
    flex-direction: column;
    border: 5px solid black;
    width: 33vw;
    height: 100vh;
}

.anordnung {
    display: flex;
}

ul {
    list-style: none;
}

.products {
    margin: 1rem;
}

.customers {
    margin: 1rem;
}

.employees {
    margin: 1rem;
}